<% %w[notice error warning alert info].each do |key| %>
  <% if flash[key] %>
    <div id="<%= key %>" class="flash">
    <ul>
      <%= flash[key] %>
    </ul>
    </div>
  <% end %>
<% end %>
<table>
<tr><td width="100%"><p><a href="#" id="slick-toggle">Create VM</a></p>
<div id="slickbox">
<section id="add">
  <form action="/" method="post">
    <label>VM Label</label><p><input type="text" name="vmname" placeholder="Name for VM&hellip;"></p>
    <label>Memory (MB)</label><p><input type="text" name="memory" value="512"></p>
    <label>Disk size (GB)</label><p><input type="text" name="disksize" value="5"></p>
    <label>Datastore</label><p>
    <select name="datastore" id="datastore">
    <%
    @datastores.each_line do |line| %>
      <option value="<%=line.chomp()%>"> <%=line%>
    <% end %>
    </select></p>
    <label>Provision from</label><p>
    <input type="radio" name="creation_type" value="pxe" checked >PXE
    <input type="radio" name="creation_type" value="iso">ISO
    <input type="radio" name="creation_type" value="vmdk">VMDK
    <input type="radio" name="creation_type" value="studio">SUSE Studio</p>
    <div id="iso" class="desc" style="display: none;">
    <label>Path to ISO</label><p><input type="text" name="pathtoiso"></p>
    </div>
    <div id="vmdk" class="desc" style="display: none;">
    <label>Path to VMDK</label><p><input type="text" name="pathtovmdk"></p>
    </div>
    <div id="studio" class="desc" style="display: none;">
    <label>Appliance ID</label><p><input type="text" name="applianceid"></p>
    </div>
    <p><input type="submit" value="Create VM!"></p>
  </form>
</section>
</div></td>
<td>
<p>
<form name="serverlist" action="/" method="post">
	<input type="hidden" name="_method" value="put">
	<select name="server" id="server">
		<%
		@serverlist.each_line do |line| %>
			<option value="<%=line%>" <% if session[:server] == line.chomp() %> selected="yes" <% end %> ><%=line%>
		<% end %>
	</select>
</form>
<p></td>
</tr>
</table>
<% @vmarray.each do |vm| %>
  <article <%= 'class="complete"' if vm.pwstate == "\033[31mPowered off\033[0m" %>>
    <p>
      <%=h vm.name %>
      <% if vm.pwstate == "\033[31mPowered off\033[0m" %> 
      <span><a href="/<%= vm.vmid %>">[edit]</a></span>
      <% end %>
    </p>
   <p class="links">
      <a href="/<%= vm.vmid %>/power/<%= 
      if vm.pwstate == "\033[31mPowered off\033[0m"
        'on" title="Power On"'
      else 
        'off" title="Power Off"'
      end %>
      " >&#8623;</a>
    </p>
    <% if vm.pwstate == "\033[32mPowered on\033[0m" %>
    <p class="links">
    <a href="/<%= vm.vmid %>/console" target="_new" title="Connect to VM console"><img src=/images/monitor.png></img></a>
    </p>
    <% end %>
    <p class="meta">Config: <%= vm.config %></p>
  </article>
<% end %>

